div{
    background-color: #FF8A8A;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI';
    font-size: large;
    border-radius: 10px;
    text-align: center;
}